p
{
    margin-bottom: 12px;
}
h1,h2,h3 
{
font-weight: 400;
}
h1
{
margin-top: 0;
font-size: 36px;
margin-bottom: 0px;
}
h2
{
font-size: 32px;
margin-bottom: 8px;
padding-bottom: 6px;
border-bottom: 1px solid gray;
}
ol
{
    margin-top: 5px;
}
.zag
{
    border-bottom: 0px;
    margin-top: 0px;
    font-size: 26px;
}
.iscl
{
    text-align: left;
    font-style: normal;
}
.iscl2
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: bold;
    

}
#all
{
    display:block;
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
}
#header
{
font-style: italic;
margin-bottom: 32px;
display: block;
text-align: center;
}

#main
{
margin-top: 50px;
display: block;
}
#footer
{
display: block;
margin-top: 63px;
text-align: center;
color: gray;
}
